<div>
    <form class="mt-3"  method="post" ng-submit="onInsert($event)" name="formSV">
        <div class="alert {{ isSuccess ? 'alert-success' : 'alert-danger' }}" ng-if="message.length != 0">
            {{ message }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
            <input type="email" class="form-control" name="txtEmail" id="exampleInputEmail1" ng-model="sv.email"
                aria-describedby="emailHelp" required>
            <!-- <div ng-hide="formSV.txtEmail.$valid || formSV.txtEmail.$untouched">
            <small class="form-text text-danger" ng-show="formSV.txtEmail.$error.required">Vui lòng nhập email</small>
            <small class="form-text text-danger" ng-show="formSV.txtEmail.$error.email">Không đúng định dạng</small>
          </div> -->
        </div>
        <div class="mb-3">
            <label for="pass1" class="form-label fw-bold">Mật khẩu</label>
            <input type="password" minlength="6" maxlength="32" name="txtPass1" class="form-control" id="pass1"
                ng-model="sv.pass1" required>
            <div ng-hide="formSV.txtPass1.$valid || formSV.txtPass1.$untouched">
                <small class="form-text text-danger" ng-show="formSV.txtPass1.$error.required">Vui lòng nhập mật
                    khẩu</small>
                <small class="form-text text-danger" ng-show="formSV.txtPass1.$error.minlength">Mật khẩu có độ dài
                    6-32
                    ký tự</small>
                <small class="form-text text-danger" ng-show="formSV.txtPass1.$error.maxlength">Mật khẩu có độ dài
                    6-32
                    ký tự</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="pass2" class="form-label fw-bold">Xác nhận mật khẩu</label>
            <input type="password" minlength="6" maxlength="32" name="txtPass2" class="form-control" id="pass2"
                ng-model="sv.pass" required>
            <div ng-hide="formSV.txtPass2.$valid || formSV.txtPass2.$untouched">
                <small class="form-text text-danger" ng-show="formSV.txtPass2.$error.required">Vui lòng nhập mật
                    khẩu</small>
                <small class="form-text text-danger" ng-show="formSV.txtPass2.$error.minlength">Mật khẩu có độ dài
                    6-32
                    ký tự</small>
                <small class="form-text text-danger" ng-show="formSV.txtPass2.$error.maxlength">Mật khẩu có độ dài
                    6-32
                    ký tự</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="fullname" class="form-label fw-bold">Họ tên</label>
            <input type="text" class="form-control" id="fullname" name="txtName" ng-model="sv.fullname" required>
            <div ng-hide="formSV.txtName.$valid || formSV.txtName.$untouched">
                <small class="form-text text-danger" ng-show="formSV.txtName.$error.required">Vui lòng nhập họ
                    tên</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label fw-bold">Tên tài khoản</label>
            <input type="text" class="form-control" id="username" name="txtusername" ng-model="sv.username"
                aria-describedby="emailHelp" required>
            <div ng-hide="formSV.txtusername.$valid || formSV.txtusername.$untouched">
                <small class="form-text text-danger" ng-show="formSV.txtusername.$error.required">Vui lòng nhập tên tài khoản</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="sdt" class="form-label fw-bold">SDT</label>
            <input type="text" class="form-control" id="sdt" name="txtsdt" ng-model="sv.sdt"
                aria-describedby="emailHelp" required>
            <div ng-hide="formSV.txtsdt.$valid || formSV.txtsdt.$untouched">
                <small class="form-text text-danger" ng-show="formSV.txtsdt.$error.required">Vui lòng nhập số điện thoại</small>
            </div>
        </div>
        <!-- <div class="mb-3">
            <label for="birthday" class="form-label fw-bold">Ngày sinh</label>
            <input type="date" class="form-control" id="birthday" name="txtbirthday" ng-model="sv.birthday"
                aria-describedby="emailHelp" required>
            <div ng-hide="formSV.txtbirthday.$valid || formSV.txtbirthday.$untouched">
                <small class="form-text text-danger" ng-show="formSV.txtbirthday.$error.required">Vui lòng nhập ngày sinh</small>
            </div>
        </div> -->
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label fw-bold pe-4">Giới tính</label>
            <input id="genNam" class="form-check-input" type="radio" ng-model="sv.gender" value="1"
                ng-checked="sv.gender == 1" name="gender">
            <label class="form-check-label pe-3" for="genNam">Nam</label>
            <input id="genNu" class="form-check-input" type="radio" ng-model="sv.gender" value="0" name="gender">
            <label class="form-check-label" for="genNu">Nữ</label>
        </div>
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label fw-bold pe-4 me-3">Vai trò</label>
            <input id="admin" class="form-check-input" type="radio" ng-model="sv.isAdmin" value="1" ng-checked="sv.isAdmin == 1"
                ng-checked="sv.isAdmin == 1" name="isAdmin">
            <label class="form-check-label pe-3" for="admin">Admin</label>
            <input id="user" class="form-check-input" type="radio" ng-model="sv.isAdmin" value="0" name="isAdmin">
            <label class="form-check-label" for="user">User</label>
        </div>
        <div class="mt-3">
            <a type="submit" ng-click="onInsert($event)" class="btn btn-primary">Thêm</a>
            <a type="submit" ng-click="onUpdate()" ng-hide="index == -1" class="btn btn-primary">Sửa</a>
            <a type="submit" class="btn btn-primary" ng-hide="index == -1" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Xóa</a>
            <div id="exampleModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Xác nhận</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Bạn có muốn xóa tài khoản này?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" ng-click="onDelete()"
                                data-bs-dismiss="modal">Xác
                                nhận</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                aria-label="Close">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" ng-click="onClear()" class="btn btn-primary">Làm mới</button>
        </div>
    </form>
    <table class="table table-striped table-info table-hover mt-3">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Tên tài khoản</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Vai trò</th>
                <!-- <th>Ngày sinh</th> -->
                <th>SDT</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="select($index)" ng-repeat="st in students | limitTo:10:begin">
                <td>{{st.fullname}}</td>
                <td>{{st.username}}</td>
                <td ng-if="st.gender == 1">Nam</td>
                <td ng-if="st.gender == 0">Nữ</td>
                <td>{{st.email}}</td>
                <td ng-if="st.isAdmin == 1">Admin</td>
                <td ng-if="st.isAdmin == 0">User</td>
                <!-- <td>{{st.birthday | date : dd/MM/yyyy}}</td> -->
                <td>{{st.sdt}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-2">
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <button class="page-link" ng-click="first()"><i class="fas fa-angle-double-left"></i></button>
            </li>
            <li class="page-item">
              <button class="page-link" ng-click="prev()"><i class="fas fa-angle-left"></i></button>
            </li>
            <li class="page-item">
              <button class="page-link" ng-click="next()"><i class="fas fa-angle-right"></i></button>
            </li>
            <li class="page-item">
              <button class="page-link" ng-click="last()"><i class="fas fa-angle-double-right"></i></button>
            </li>
          </ul>
        </nav>
      </div>
</div>