
    <div class="container my-5" id="content">
		<div class="row" ng-show="!inProgess">
            <div class="col text-center">
                <button class="btn btn-primary" ng-click="start()">Start the Quiz</button>
            </div>
        </div>
		
       <div ng-show="inProgess">
        <div class="row">
            <div class="col text-center">
                <h2><i class="fas fa-clock" style="color: #23B5E1;"></i> 10:12:00</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border-info">
                    <div class="card-header text-white" style="background-color: #23B5E1;">
                        <img src="images/logos/JAAV.png" width="30" class="border border-primary rounded-lg" alt="">
                        <span>
                            {{question}}
                        </span>
                        <span class="float-right badge badge-dark float-end">7/10</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="font-weight: 500;">
                            <b>{{question}}</b>
                            <hr>
                            <div class="form-check" ng-repeat="option in options">
                                
                                <label class="form-check-label" for="answer">
								<input class="form-check-input" type="radio" name="answer" id="answer" value="{{option.Id}}">
                                    {{option.Text}}
                                </label>
                            </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        
						<button ng-click="checkAnswer()" class="btn btn-primary">Submit</button>
						<button class="btn btn-primary">Next</button>
						<span class="float-end badge-success"
                            >Điểm:
                            6/10</span>
                    </div>
                </div>
            </div>
        </div>
       </div>
        
    </div>
   